Origin: XBian
Package: xbian-package-shairplay
Version: 1.0.4
Section: utils
Priority: optional
Architecture: armhf
Breaks: xbian-package-xbmc (<<2.3)
Depends: libao4, libavahi-compat-libdnssd1, libltdl7
Provides: libshairplay0, libshairplay-dev
Conflicts: libshairplay0, libshairplay-dev
Maintainer: Koenkk <development@xbian.org>
Description: libshairplay for XBian
